{{> _toolbarOperationsMenu}}

<nav class="nav-extended">
    <div class="nav-wrapper ">
        <nav class="black">
            <a href="#" class="brand-logo">:-:-:-:-:<img src="images/images/logo.png">:-:-:-:-:</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">
                        <i class="material-icons right">home</i>
                        Inicio</a>
                </li>
                <li>
                    <a href="/about">
                        <i class="material-icons right">business</i>
                        Acerca de
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#service"> Guias</a>
                </li>
                <li>
                    <a href='/contacto'>contacto</a>
                </li>
                <li>
                    <a href='/project'>-Iniciar sesion-</a>
                </li>
                <li>
                    <a href='/project/add'> -Crear cuenta-</a>
                </li>
            </ul>
    </div>
    <div class="nav-content black">
        <ul class="tabs tabs-transparent">
            <li class="tab "><a href="#test1">¿Quienes somos?</a></li>
            <li class="tab"><a href="#test2">¿Por que utilizarnos?</a></li>
            <li class="tab"><a href="#test3">¿Que hacemos por ti?</a></li>
            <li class="tab"><a href="#test4">¿Cuales son nuestras funciones?</a></li>
        </ul>
    </div>

    <div class="progress">
        <div class="indeterminate"></div>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Lopez Martinez Adolfo Angel</a></li>
        <li><a href="badges.html">Flores Lopez Cesar Antonio</a></li>
        <li><a href="collapsible.html">Sanchez Rodriguez Jesus Adrian</a></li>
    </ul>

    <div id="test1" class="col s12">
        <center>
            <div class="card-panel orange darken-4">
                <h4>Somos Ciberenlace, el mayor sistema de inventarios en Mexico</h4>
            </div>
        </center>
    </div>

    <div id="test2" class="col s12">
        <center>
            <div class="card-panel orange darken-4">
                <h4>Mejora tu rendimiento, tiempo de proceso y Organiza mejor tu
                    almacén con el eficiente sistema de inventario de doble entrada.</p>
                </h4>
                <h5><span>-Justificacion-</span>
                    <p>Obtén el método de almacenamiento más eficiente y mejora todas
                        tus operaciones internas. El inventario de doble entrada de Ciberenlace no
                        tiene entradas, salidas o transformaciones de existencias. En su lugar,
                        todas las operaciones se consideran movimientos de existencias entre
                        ubicaciones.
                </h5>
            </div>
        </center>
    </div>

    <div id="test3" class="col s12">
        <center>
            <div class="card-panel orange darken-4">
                <h4>Mejora tu rendimiento, tiempo de proceso y Organiza mejor tu
                    almacén con el eficiente sistema de inventario de doble entrada.</p>
                </h4>
                <h5><span>-Funciones incluidas-</span>
                    <p>Utiliza puntos de orden y solicitudes de cotizaciones automatizadas para
                        hacer tu cadena de suministros más eficiente que nunca..
                </h5>
        </center>
    </div>


    <div id="test4" class="col s12">
        <center>
            <div class="card-panel orange darken-4">
                <h4>Experimenta trazabilidad total y lleva el seguimiento de cada movimiento
                    de existencias con el sistema único de inventario de doble entrada de Ciberenlace.</p>
                </h4>
                <h5><span>-Seguimento de operaciones incluido-</span>
                    <p>Lleva el seguimiento de todos los movimientos de tus existencias, desde
                        la compra al almacén y hasta la orden de venta. Rastrea lotes o series en
                        sentido ascendente o descendente en cualquier punto de tu cadena de suministro.
                </h5>
            </div>
        </center>
    </div>

    <div class="progress">
        <div class="indeterminate"></div>
    </div>

