<body background="https://wallpapercave.com/wp/wp5426267.jpg">

<div class="row">
    <div class="col s10 m6">
        <div class="card blue lighten-3">
            <div class="card-content black-text">
                <span class="card-title">¿Alguna sugerencia?</span>
                <p>Nos gustaria escucharla, por favor dejela en el form de abajo.</p>
            </div>
            
        </div>
    </div>
</div>



    <div class="row">
        <form class="col s13" style="background-color:#ffffff">
            <div class="row">
                <div class="input-field col s6 ">
                    <input placeholder="Ingrese aqui👇" id="first_name" type="text" class="validate ">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s6" style="background-color:#ffffff">
                    <input placeholder="Ingrese aqui👇" id="last_name" type="text" class="validate">
                    <label for="last_name">Usuario</label>
                </div>
            </div>

            <div class="row" style="background-color:#ffffff">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row" style="background-color:#ffffff">
            <input type="text" size="20" maxlength="50" placeholder="Comentarios" >
            </div>
    </div>

</body>