         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
				
               <div class="col-md-5">
                  <div class="text-bg">
					  
                     <h1>Todo sobre computadoras<br> En un solo click</h1>
                     <span>-Objetivo-</span>
                     <p>A través de una pagina web proporcionar guías, un directorio para realizar servicios de mantenimiento a equipos de computo al igual que dar resultados en tiempo real sobre el mercado de componentes</p>
					  <span>-Justificacion-</span>
                     <p>En internet hay muchas paginas sobre compra  y ventas de componentes, sin embargo como compradores necesitamos escatimar en gastos por lo cual nos vemos obligados a comparar precios de productos para poder decidir si realizar una compra, uno de los apartados de CiberEnlace se encargara de monitorear en tiempo real el precio de componentes en las paginas mas populares <br>
						 Los equipos de computo se han convertido en herramientas indispensables a la hora de trabjar o poder tomar clases, sin embargo en muchas veces los equipos comienzan a presentar fallas y tenemos realizar  nosotros mismos un pequeño mantenimiento para prevenir un daño mayor, o en casos mas drasticos mandarlo con un técnico, en la pagina de CiberEnlace se  mostraran las causas mas comunes por las cuales un equipo de computo comienza a fallar y el usuario tendrá acceso a guias para poder realizar un mantenimiento preventivo. Otra opción en caso de que los usuarios no esten familiarizados con los equipos de computo es mostrar un registro con técnicos especializados para poder resolver el problema ( y de la misma manera poder darles un pequeño impulso a su negocio)</p>
					  <span>-Objetivos para hacer crecer la empresa-</span>
                     <p>-tener mayor reconociendo en el tema del mantenimiento de equipos de computo<br>-destacar por encima de otras paginas con la misma temática<br>-lograr tener mayor infraestructura <br>-Crear una comunidad mas solida en cuanto al tema de componentes y equipos de computo<br>-apoyar pequeños negocias</p>
                     <a href="#">Iniciar sesion</a>
					  
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="images/images/img.png" /></figure>
					  
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- Hosting -->
      <div id="" class="hosting">
         <div class="container">
            <div class="row">
				
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Necesitas ayuda, aqui abajo encontraras soluciones a las problematicas
					  mas comunes</h2>
					  
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
					 
                     <figure><img  src="images/images/web.jpg" alt="#"/></figure>
                     <p>Las computadoras son nuestra mano derecha y casi que no podemos vivir sin ellas, aunque pueden darnos varios dolores de cabeza. Y cuando eso pasa, intentás reiniciar la compu o darle unos golpecitos, porque pensás que quizá así se solucionará… pero no. Si alguna vez te pasó, aquí recopilamos los problemas más comunes que podemos tener con las computadoras y a qué pueden deberse. ¿Te pasó con alguno?</p>
                     <a href="#">Saber mas</a>
					  
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Hosting -->
      <!-- Services  -->
      <div id="service" class="Services">
         <div class="container">
            <div class="row">
				
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Necesitas ayuda, aqui abajo encontraras soluciones a las problematicas
					  mas comunes</h2>
                     <p>Hay muchos problemas pequeños, pero comunes, que se producen regularmente en una computadora personal. La buena noticia es que muchos fallos con los ordenadores tienen soluciones simples, y aprender a reconocer un problema y arreglarlo tú mismo te ahorrará mucho tiempo y dinero. Sigue leyendo y aprende sobre las fallas comunes en computadoras por las que no deberías entrar en pánico.
                     </p>
                  </div>
				   
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
					  
                     <i><img src="images/images/service1.png" alt="#" /></i>
                     <h3> Pantalla azul&nbsp;</h3>
                     <p>Uno de los problemas más conocidos que enfrentan los usuarios de Windows, la “pantalla azul de la muerte”. Tiene que ver con un error de Microsoft y significa que la computadora no puede (o está en peligro de no poder) recuperarse de un error del sistema..</p>
					  <a class="read_more" href="Documentos/La pantalla azul de la muerte .pdf">Haz click aqui</a>
                  </div>
               </div>
				
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/images/service2.png" alt="#" /></i>
                     <h3>Funcionamiento lento</h3>
                     <p>La tarea más simple, como abrir una ventana, se vuelva una tortura. Puede darse por muchos factores, pero la falta de mantenimiento es la razón más común</p>
					  <a class="read_more" href="Documentos/Funcionamiento_lento.pdf">Haz click aqui</a>
                  </div>
               </div>
				
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/images/service3.png" alt="#" /></i>
                     <h3>Fallas del Sistema Operativo</h3>
					 
                     <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
					  <a class="read_more" href="Documentos/SO.pdf">Haz click aqui</a>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
					 
                     <i><img src="images/images/service4.png" alt="#" /></i>
                     <h3>Computadora infectada con virus</h3>
                     <p>Los virus son un tipo de software que puede dañar tu computadora y sistemas relacionados. Estos tienen que instalarse para poder empezar a causar problemas, lo que puede pasar mucho más rápido de lo que pensás y sin que te des cuenta..</p>
					  <a class="read_more" href="Documentos/Virus Informaticos.pdf">Haz click aqui</a>
                  </div>
				 
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/images/service5.png" alt="#" /></i>
					 
                     <h3>Problemas con la RAM</h3>
                     <p> si no está configurada correctamente, podría estar utilizando solo una porción de su capacidad total para los procesos. Si se utiliza solo una parte de la RAM, los juegos y programas funcionarán más lento o directamente no lo harán. </p>
					  <a class="read_more" href="Documentos/problemas de RAM.pdf">Haz click aqui</a>
                  </div>
               </div>
			
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/images/service6.png" alt="#" /></i>
                     <h3>Fallo en el disco duro</h3>
                     <p>Una falla en tu disco duro puede causar problemas muy serios, la buena noticia es que es fácil reemplazarlos. La mala es que la información guardada allí puede ser corrompida o perderse para siempre.</p>
					  <a class="read_more" href="Documentos/Discos duros.pdf">Haz click aqui</a>
                  </div>
               </div>
				
               <a class="read_more" href="#">proximamente</a>
            </div>
         </div>
      </div>
      <!-- end Servicess -->
      <!-- why -->
      <div id="why" class="why">
		 
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
					 
                     <h2>Por que resaltamos entre las demas paginas </h2>
                     <p>hemos logrado crear una comunidad solida a la cual le interesa el tema de los componentes y el mantenimiento de las 
					  computadoras, contamos con referencias y mas adelante podremos dar oportunidades de empleo en nuestra familia</p>
					 
					  <br>
					  <br>
					 <p> Nuestra familia de trabajadores esta asegurada con las siguientes polizas </p>
                  </div>
				   
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div id="box_ho" class="why-box">
                     <i><img src="images/images/why1.png" alt="#" /></i>
                     <h3>MANUAL DE SANCIONES INCUMPLIMIENTO DE POLÍTICA SEGURIDAD DE LA INFORMACIÓN</h3>
                     <p>Determinar y establecer las sanciones por incumplimiento de la política de seguridad de la información esto
con la finalidad de poder mejorar y asegurar el cumplimento total de dicha política de seguridad de la
información implementada en la institución</p>
                  </div>
                  <a class="read_more bg" href="Documentos/Manual de Sanciones Final.pdf">leer mas</a>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="why-box">
                     <i><img src="images/images/why2.png" alt="#" /></i>
                     <h3>Poliza a equipos electronicos</h3>
                     <p>ZURICH ASEGURADORA MEXICANA S.A. DE C.V., denominada en lo sucesivo LA
COMPAÑÍA, con sujeción a las Condiciones Generales, Condiciones Particulares y
“Especificación para adherirse a la póliza”, </p>
                  </div>
                  <a class="read_more bg" href="Documentos/DAOS Equipo Electrnico.pdf">leer mas</a>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="why-box">
                     <i><img src="images/images/why3.png" alt="#" /></i>
                     <h3>Poliza de seguros</h3>
                     <p>la politica sobre aseguramiento de equipos electronicos asume las pérdidas, que se pueden ocasionar por hechos imprevistos derivados no sólo de un trabajo, sino de los que se presenten en el entorno de las instalaciones, causen ruina parcial o total de los equipos ocasionando el menoscabo del patrimonio, ya sea de los propietarios, arrendatarios o de las instituciones financieras involucradas.</p>
                  </div>
                  <a class="read_more bg" href="Documentos/Equipo-Electronico-CONDUSEF-004952-01 (1).pdf">leer mas</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end why -->
      <!-- contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3 ">
                  <form class="main_form">
                     <div class="row">
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Nombre" type="text" name="Name">
                        </div>
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Email" type="text" name=" Email">
                        </div>
                        <div class="col-sm-12">
                           <input class="contactus" placeholder="Telefono" type="text" name="Phone">
                        </div>
                        <div class="col-sm-12">
                           <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                           <button class="send">Enviar</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="cont">
                        <h3>Tu opinion es importante</h3>
                        <span>tus sugerencias nos ayudan a mejorar </span>
                        <p>las guias obtenidas son proporcionadas por expertos en el tema y los contactos de nuestro directorio han sido sometidos a una verificacion 
							para poder realizar tratos de manera segura
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2021 All Rights Reserved. <a href="https://html.design/">Adolfo Angel Lopez Martinez</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	   
	   <script type="text/javascript">
$(document).ready(function () {
    //Disable full page
    $("body").on("contextmenu",function(e){
        return false;
    });
    
    //Disable part of page
    $("#id").on("contextmenu",function(e){
        return false;
    });
});
</script>
	   
   </body>
