<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body background="https://wallpapercave.com/wp/wp11734584.jpg">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/images/img.png" width="500" height="300">
          <h4 class="card-title">Contabilidad</h4>
        </div>
        <div class="card-content grey darken-3 ">
          <h5>Olvídate de introducir datos. Nuestro Inventario está completamente
            integrado A la base de datos de ciberenlace, de modo que los movimientos
            de existencias se plasman en tus libros en tiempo real..</h5>
        </div>
        <div class="card-action grey darken-4">
          <a href="#">Descubrir</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image ">
          <img src="images/images/web.jpg" width="500" height="300">
          <h4 class="card-title activator black-text">Contabilidad</h4>
        </div>
        <div class="card-content grey darken-3 ">
          <h5>Olvídate de introducir datos. Nuestro Inventario está completamente
            integrado A la base de datos de ciberenlace, de modo que los movimientos
            de existencias se plasman en tus libros en tiempo real..</h5>
        </div>
        <div class="card-action grey darken-4">
          <a href="#">Descubrir</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/images/service1.png" width="500" height="300">
          <span class="card-title activator black-text text-darken-5">Contabilidad</span>
        </div>
        <div class="card-content grey darken-3 ">
          <h5>Olvídate de introducir datos. Nuestro Inventario está completamente
            integrado A la base de datos de ciberenlace, de modo que los movimientos
            de existencias se plasman en tus libros en tiempo real..</h5>
        </div>
        <div class="card-action grey darken-4">
          <a href="#">Descubrir</a>
        </div>
      </div>
    </div>
  </div>

  <div id="service" class="Services">
    <div class="carousel carousel-slider center">
      <div class="carousel-fixed-item center">
      </div>
      <div class="carousel-item black white-text" href="#one!">
        <h1>Almacenamiento en la nube</h1>
        <h5 class="white-text">El almacenamiento en la nube es un modelo de almacenamiento de datos que está basado en
          redes de
          computadoras. En cuanto
          a los datos, estos se alojan en uno o más servidores de forma virtual que, por lo general, son
          proporcionados por
          terceros.</h5>
        <i><img src="images/images/service1.png" alt="#" /></i>
      </div>
      <div class="carousel-item black white-text" href="#two!">
        <h1>Gestion controlada</h1>
        <h5 class="white-text">CIBERENLACE cuenta con un servicio especializado de almacén de tiendas online, a través
          del cual podrás gestionar los envíos
          de tu empresa de manera rápida y segura.</h5>
        <i><img src="images/images/service2.png" alt="#" /></i>
      </div>
      <div class="carousel-item black white-text" href="#three!">
        <h1>Almacena todo tipo de objetos</h1>
        <h5 class="white-text">Sin importar qué tipo de productos ofrezca tu empresa por internet, es importante
          almacenarlos en un lugar especializado
          para hacer una efectiva gestión de los pedidos efectuados por tu cartera de clientes.</h5>
        <i><img src="images/images/service3.png" alt="#" /></i>
      </div>
      <div class="carousel-item black white-text" href="#four!">
        <h2>Descarga tus inventarios en tiempo real</h2>
        <h5 class="white-text">
          · Respetamos los tiempos de entrega solicitados. <br>

          · Entregamos toda la paquetería y mensajería en perfecto estado.<br>

          · Contamos con servicio de entrega express en las principales capitales europeas y centros de negocios.</h5>
        <i><img src="images/images/service4.png" alt="#" /></i>
      </div>
    </div>
  </div>
  <center>
    <button type="submit" class="blue darken-3 waves-effect waves-light btn">
      <i class="material-icons left">account_circle</i> <a href='/project/add'>Iniciar sesion</a>
    </button>
  </center>

  <!-- end Servicess -->


  <!--  footer -->
  <footer style="background-color:#100477">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="cont">
              <h5 class="white-text">:-:-:-:-:<img src="images/images/logo.png">:-:-:-:-:</h5>
              <h3>Tu opinion es importante</h3>
              <p>tus sugerencias nos ayudan a mejorar y CIBERENLACE es un sitio seguro y toda la informacion obtenida se
                utilizara para fines academicos
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>© 2021 All Rights Reserved. <a href="https://html.design/">Adolfo Angel Lopez Martinez</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>